#zhichiBtnBox {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-toolkit {
    position: fixed;
    right: 0;
    bottom: 33px;
    z-index: 500;
    display: none;
}

/*.user-toolkit .chat-finger {*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*bottom: 100%;*/
    /*display: none;*/
/*}*/

.user-toolkit .toolkit-row {
    position: relative;
    right: 0;
    height: 41px;
    min-width: 120px;
    /*overflow: hidden;*/
    margin-bottom: 5px;
}
.user-toolkit .toolkit-btn {
    -webkit-transform: translate(80px);
    transform: translate(80px);
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
    background: url('http://7xo6t4.com2.z0.glb.qiniucdn.com/images%2Fmaterial.svg');
    width: 120px;
    height: 41px;
    cursor: pointer;
    position: absolute;
    right:0;
}

.user-toolkit .toolkit-btn:hover {
    -webkit-transform: translate(0);
    transform: translate(0);
}

/*.user-toolkit .have-lesson {*/
    /*background-position: 0 0;*/
/*}*/

.user-toolkit .ask-question {
    background-position: 0 -44px;
}

.user-toolkit .chat-btn {
    background-position: 0 -89px;
}

.user-toolkit .chat-wrapper {
    width: 342px;
    height: 272px;
    background-color: rgba(0,0,0,.7);
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.61);
    padding-top: 20px;

}
.user-toolkit .chat-wrapper.close {
    display: none;
}
.user-toolkit .message-wrapper {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 216px;
}
.user-toolkit .chat-close-btn {
    background: url('http://7xo6t4.com2.z0.glb.qiniucdn.com/images%2Fmaterial.svg');
    background-position:  -7px -134px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -15px;
    top: -15px;
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.7);
    border-radius: 50%;
}
.input-wrapper {
    height: 34px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding: 2px;
}
.input-wrapper .send-btn {
    width: 50px;
    height: 30px;
    background: linear-gradient(to bottom, #00d773 0%,#00d773 50%,#00b15f 100%);
    color: white;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2.5px;
}
.input-wrapper .user-input {
    border: none;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    text-indent: 5px;

}
.message-wrapper .msg-type {
    margin-right: 12px;
    height: 14px;
    width: 28px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 12px;
}
.message-wrapper .user-name {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.message-wrapper .message {
    color: white;
    font-size: 12px;
    margin: 0 17px 5px;
    display: -webkit-flex;
    display: flex;
}
.message .msg-text {
    word-break: break-all;
}
.message-wrapper .sys-type .msg-type {
    background-color: #A081E1;
    color: #CFC1FD;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    padding: 0 2px;
}
.message-wrapper .sys-type .msg-text {
    color: #A081E1;
}
.message-wrapper .world-type .msg-type {
    background-color: #00D773;
    color: white;
    border-radius: 2px;
    padding: 0 2px;
    line-height: 14px;
}

.sliding-transition {
    -webkit-animation: entering 300ms;
    animation: entering 450ms;
}
.sliding-leave {
    -webkit-animation: leaving 300ms;
    animation: leaving 450ms;
}
@-webkit-keyframes entering {
    from {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
    }
}
@-webkit-keyframes leaving {
    from {
        opacity: 1;
        -webkit-transform: translate(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
}
@keyframes entering {
    from {
        opacity: 0;
        transform: translate(100%);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes leaving {
    from {
        opacity: 1;
        transform: translate(0);
    }
    to {
        opacity: 0;
        transform: translate(100%);
    }
}
