#saving-message{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 1002;
}

#saving-message .saving{
    position: relative;
    left: 100px;
}

#saving-message .cancel{
    display: flex;
    position: relative;
    top: 70px;
    left: -100px;
}

/*#saving-message .saving-img{*/
    /*left: 15px;*/
    /*top: 0;*/
    /*position: absolute;*/
/*}*/